[Unit]
Description=xserver
DefaultDependencies=no
After=systemd-udev-trigger.service smack.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/startx

[Install]
WantedBy=basic.target
